version: '3.8'

services:

  # Here we have four Valkey containers. A primary, two replicas replicating from
  # the primary and an additinal replica replicating from one of the replicas

  # To make Docker compatible with Valkey replicas, you need to use Docker's host
  # networking mode. Please see the --net=host option in the Docker documentation
  # for more information.
  app:
    image: swift:6.2
    network_mode: "host"
    volumes:
      - ..:/workspace
    depends_on:
      - valkey
      - valkey_primary
      - valkey_replica_1
      - valkey_replica_2
      - valkey_replica_3
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    environment:
      - VALKEY_PRIMARY_HOSTNAME=127.0.0.1
      - VALKEY_PRIMARY_PORT=9000
    command: sleep infinity

  valkey:
    image: 'valkey/valkey:latest'
    network_mode: "host"
    ports:
      - 6379:6379
      - 6380:6380
    volumes:
      - ../valkey:/valkey
    command: valkey-server --tls-port 6380 --tls-cert-file /valkey/certs/server.crt --tls-key-file /valkey/certs/server.key --tls-ca-cert-file /valkey/certs/ca.crt

  valkey_primary:
    image: 'valkey/valkey:latest'
    network_mode: "host"
    depends_on:
      - valkey
    command: valkey-server --port 9000

  valkey_replica_1:
    image: 'valkey/valkey:latest'
    network_mode: "host"
    depends_on:
      - valkey
    command: valkey-server --port 9001 --replicaof 127.0.0.1 9000

  valkey_replica_2:
    image: 'valkey/valkey:latest'
    network_mode: "host"
    depends_on:
      - valkey
    command: valkey-server --port 9002 --replicaof 127.0.0.1 9000

  valkey_replica_3:
    image: 'valkey/valkey:latest'
    network_mode: "host"
    depends_on:
      - valkey_replica_2
    command: valkey-server --port 9003 --replicaof 127.0.0.1 9002
