name: Soundness

on:
  pull_request:
  workflow_dispatch:

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      api_breakage_check_container_image: swift:latest
      docs_check_container_image: swift:latest
      # 6.2 does not understand `nonisolated(nonsending)` correctly
      format_check_container_image: swiftlang/swift:nightly-main-noble
      unacceptable_language_check_enabled: false  # Valkey commands contain unacceptable language
